.info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#acc23f;
    color: #fff;
    padding-left: 2%;
    padding-right: 5%;
}
.info-text{
    display: flex;
}
.bg-icon{
    width: 60px;
    height: 60px;
    background-color: #fff;
    font-size: 2em;
    border-radius: 50%;
    margin-right: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.containr-trainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}